<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="../assets/css/current.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../assets/img/logo.png" />
        <h1><a href="../index.html">Weather App</a></h1>
      </div>
      <nav>
        <a href="./current.html">Current</a>
        <a href="./forecast.html">Forecast</a>
        <a href="#contact">Open Weather Map</a>
      </nav>
    </header>
    <main>
      <h2 class="current">Get Current Weather Information</h2>
      <section>
        <label for="site-search">Enter City Name</label>
        <div class="input">
          <input
            type="search"
            id="site-search"
            name="q"
            aria-label="Search through site content"
            placeholder="Enter City Name" 
          />
          <button>Search City</button>
        </div>
      </section>
      <section class="information">
        <h3>Current Weather  <span> </span></h3>
        <table>
         
        </table>
      </section>
    </main>
    <footer>
      <p>Copyrigth <i class="fas fa-copyright"></i> Weather App</p>
    </footer>
  </body>
  <script src="../assets/js/scriptcurrent.js"></script>
</html>
